@use '../../styles/variables' as *;

.column {
  flex: 1;
  min-width: 280px;
  min-height: 600px;
}

.column-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.column-title {
  font-size: 20px;
  font-weight: bold;

  &::before {
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
  }
}

#todo .column-title::before { background-color: $todo-color; }
#inprogress .column-title::before { background-color: $inprogress-color; }
#review .column-title::before { background-color: $review-color; }
#done .column-title::before { background-color: $done-color; }

.column-tasks {
  background-color: $column-color;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px 20px 0px;
  min-height: calc(100% - 30px);
}

.add-task-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
}