$column-color: #f0f0f0;
$task-color: #ffffff;

$todo-color: #f59f00;
$inprogress-color: #e98376;
$review-color: #845ef7;
$done-color: #40c057;

$main-font: #000000;
$primary-font: #2d2d2d;

$low-priority-color: #40c057;
$medium-priority-color: #ffb52a;
$high-priority-color: #ff4646;